.opentip {
    background: url(../assets/background.png);
    background-size: auto auto;
    /*font-family: Lor,"Helvetica Neue Light", "Helvetica Neue", Calibri, Helvetica, Arial;*/
    /*width:80%;*/
    font-family: "Source Sans Pro Black", serif;
    font-weight: bold;
}

#entireBar {
    box-sizing: border-box;
    float: left;
    display: inline;
    bottom: 14px;
    height: 15px;
    position: relative;
    width: 200px;
    background: rgb(204, 204, 204) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 100px 100px 100px 100px;
    font: normal normal normal 16px/16px 'Times New Roman';
    margin: 10% 4% 3% 5%;
    padding: 3px 17px 0px 2px;
}


/*#DIV_1*/

#entireBar:after {
    box-sizing: border-box;
    height: 15px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1px;
    content: '';
    font: normal normal normal 16px/16px 'Times New Roman';
    float: none;
}


/*#DIV_1:after*/

#progressBar {
    float: left;
    box-sizing: border-box;
    height: 15px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 20%;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(132, 156, 27) 0%, rgb(200, 231, 68) 100%) repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 100px 100px 100px 100px;
    font: normal normal normal 16px/16px 'Times New Roman';
    margin: 0px 0px 0px 1px;
}
